---
import { getCollection } from "astro:content";
import "../styles/base.css";

interface Props {
	title: string;
	description: string;
	lang: string;
	headHtmls?: string[];
}

const data =
  (await getCollection('shared'))
    .find(d => d.slug === Astro.props.lang)
    ?.data

if (!data) {
  throw new Error(`No shared data found for lang "${Astro.props.lang}"`);
}

const { title, description, headHtmls } = Astro.props;

const canonicalUrl = `https://ziboulette.com${Astro.url.pathname}`;
const alternateUrls = [
  { lang: "fr", url: `https://ziboulette.com${Astro.url.pathname.replace(Astro.props.lang, "fr")}` },
  { lang: "en", url: `https://ziboulette.com${Astro.url.pathname.replace(Astro.props.lang, "en")}` },
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>{title}</title>
		<meta name="description" content={description} />

		<link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />

        <link rel="sitemap" href="/sitemap-index.xml" />

		<link rel="preconnect" href="https://stijndv.com" />
		<link rel="stylesheet" href="https://stijndv.com/fonts/Eudoxus-Sans.css" />

		<link rel="preload" href="/medias/ziboulette.webp" as="image" />
		<link rel="preload" href="/medias/development.webp" as="image" />

		<link rel="canonical" href={canonicalUrl} />
		{alternateUrls.map(({ lang, url }) => (
            <link rel="alternate" href={url} hreflang={lang} />
        ))}

		{headHtmls?.map((html) => <Fragment set:html={html} />)}

		<base href={`/${Astro.props.lang}/`} />
	</head>
	<body class="bg-background mx-auto max-w-3xl my-20 px-12 lg:max-w-5xl">
		<slot />
		<footer
			class="mt-20 text-center text-balance text-sm font-semibold text-gray-500"
		>
			<p>&copy; 2024 Ziboulette. {data.allRightsReservedText}</p>
		</footer>
	</body>
</html>
